<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Travel Wishlist</title>
  </head>
  <body>
    <h1>My Travel Wishlist</h1>
    <ul>
      <% countries.forEach((country) => { %>
      <li>
        <%= country.name %> (Visited: <%= country.visited ? 'Yes' : 'No' %>)
      </li>
      <% }); %>
    </ul>
    <h2>Add new Country</h2>
    <form action="/api/countries" method="POST">
      <input type="text" name="name" placeholder="Country Name" required />
      <input
        type="text"
        name="alpha2Code"
        placeholder="Alpha-2 Code"
        required
      />
      <input
        type="text"
        name="alpha3Code"
        placeholder="Alpha-3 Code"
        required
      />
      <input type="checkbox" name="visited" id="visited" value="true" />
      <label for="visited">Visited</label>
      <button type="submit">Add Country</button>
    </form>
  </body>
</html>
