body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: #007398;
  color: white;
  padding: 0 30px;
}

.block {
  text-align: center;
  background: white;
  border-radius: 3px;
  padding: 20px;
  color: black;
  margin: 20px;
}
.block > h2 {
  text-align: center;
}
.bonus {
  width: 90%;
  padding: 0% 3%;
}
p {
  padding: 5px;
}
ul li {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a.link {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid cornflowerblue;
  padding: 5px 10px;
  margin: 20px;
  display: inline-block;
  border-radius: 3px;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form > :last-child {
  width: fit-content;
  align-self: flex-end;
  margin-right: 0;
}

.goal {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 3px;
}

button {
  background: #007398;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  margin: 20px 20px;
  cursor: pointer;
  border: 1px solid #007398;
  border-radius: 5px;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

input {
  padding: 0.5em;
}

.imgWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  border: 2px solid #007398;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  max-width: 40%;
  object-fit: contain;
}
