* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #181818;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  color: #fff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: monospace;
  font-size: 1.25rem;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffd700;
}

button {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #ffd700;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.active {
  color: #ffd700;
  border-bottom: 2px solid #ffd700;
}
