* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 85%;
  display: flex;
  justify-content: center;
  background-color: #f6f6ef;
  margin: auto;
  font-size: 14px;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  background-color: #ff6600;
  padding: 10px 20px;
  color: white;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbarLogo {
  height: 24px;
  width: auto;
  margin-right: 10px;
}

.navbarTitle {
  color: white;
  text-decoration: none;
}

.navLinks {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbarItem {
  color: white;
  text-decoration: none;
  padding: 0 5px;
}

.navbarItem:hover {
  text-decoration: underline;
}

/* TIMELINE */
.timelineContainer {
  font-family: Arial, sans-serif;
}

.articleList {
  list-style-type: none;
}

.articleItem {
  background: #ffffff;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 15px 0;
  padding: 30px;
  transition: transform 0.2s;
}

.articleItem:hover {
  transform: translateY(-5px);
}

.articleHeader {
  margin: 0 0 10px 0;
  color: #ff6600;
  font-size: 18px;
}

.articleLink,
.articleAuthor {
  color: #2a6496;
  text-decoration: none;
  font-size: 14px;
}

.articleLink:hover {
  text-decoration: underline;
}

.articleAuthor {
  color: #2a6496;
}

.articleAuthor:hover {
  text-decoration: underline;
}

.errorMessage {
  color: red;
}

img {
  border: 2px solid #fff;
}

img:hover {
  cursor: pointer;
}

/* SEARCH */
.searchInput {
  padding: 8px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Pagination */
.pagination button {
  padding: 10px;
  margin: 5px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
}
