body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: #007398;
  color: white;
  padding: 0 30px;
}

.block {
  text-align: center;
  background: white;
  border-radius: 3px;
  padding: 10px 20px;
  color: black;
  margin: 20px auto;
  max-width: 800px;
}

.goal {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 3px;
}

ul li {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.highlight {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

button {
  background: #007398;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  margin: 10px 20px;
  cursor: pointer;
  border: 1px solid #007398;
  border-radius: 5px;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

img {
  border: 2px solid #007398;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  width: 200px;
  height: 340px;
}

.links {
  display: flex;
  max-width: 640px;
  margin: 0 auto;
}

a.link {
  width: calc(100% / 3);
  color: cornflowerblue;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid cornflowerblue;
  padding: 5px;
  margin: 5px 10px;
  display: inline-block;
  border-radius: 3px;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.night {
  background: #000;
}

.container {
  text-align: center;
  margin: 20px auto;
}

h2 {
  color: #ccc;
}

.bulb-light {
  position: relative;
  border: 0;
  background: transparent;
  margin: 0 auto !important;
  padding: 0 !important;
  cursor: pointer;
  display: block;
  z-index: 1;
}

#light {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 500px rgba(255, 210, 00, 1),
    inset 0px 0px 500px 90px rgba(255, 210, 00, 0.42);
  -moz-box-shadow: 0px 0px 500px rgba(255, 210, 00, 1),
    inset 0px 0px 500px 90px rgba(255, 210, 00, 0.42);
  -webkit-box-shadow: 0px 0px 500px rgba(255, 210, 00, 1),
    inset 0px 0px 500px 90px rgba(255, 210, 00, 0.42);
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  -khtml-border-radius: 999px;
  border-radius: 999px;
  width: 290px;
  height: 290px;
  background: none;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

#bulb {
  opacity: 1;
  z-index: 3;
}

.bulb-top {
  position: relative;
  border: 0;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  -khtml-border-radius: 999px;
  border-radius: 999px;
  background: #e7e7e7;
  box-shadow: inset 0px 10px 15px -5px rgba(10, 30, 60, 0.1);
  -moz-box-shadow: inset 0px 10px 15px -5px rgba(10, 30, 60, 0.1);
  -webkit-box-shadow: inset 0px 20px 40px -10px rgba(10, 30, 60, 0.1);
}

.reflection {
  position: absolute;
  top: 50px;
  left: 50px;
  background: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  -moz-border-radius: 999px 400px;
  -webkit-border-radius: 999px 400px;
  -khtml-border-radius: 999px 400px;
  border-radius: 999px 400px;
}

.bulb-middle-1 {
  margin: -75px auto 0 auto;
  width: 190px;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 55px solid #e7e7e7;
}

.bulb-middle-2 {
  margin: -22px auto 0 auto;
  width: 178px;
  height: 0;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  border-top: 50px solid #e7e7e7;
}

.bulb-middle-3 {
  margin: -20px auto 0 auto;
  width: 182px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 30px solid #e7e7e7;
}

.bulb-bottom {
  width: 184px;
  height: 65px;
  margin: -8px auto 0 auto;
  padding: 0;
  -moz-border-radius: 0 0 999px 999px;
  -webkit-border-radius: 0 0 999px 999px;
  -khtml-border-radius: 0 0 999px 999px;
  border-radius: 0 0 999px 999px;
  background: #e7e7e7;
  box-shadow: inset 0px -10px 14px -7px rgba(10, 30, 60, 0.1);
  -moz-box-shadow: inset 0px -10px 14px -7px rgba(10, 30, 60, 0.1);
  -webkit-box-shadow: inset 0px -10px 14px -7px rgba(10, 30, 60, 0.1);
}

#base {
  position: relative;
  z-index: 2;
}

.screw-top {
  margin: -18px auto -4px auto;
  padding: 0;
  width: 132px;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 21px solid #d3d3d3;
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  -khtml-border-radius: 999px;
  border-radius: 999px;
}

.screw-a {
  background: #ddd;
  width: 150px;
  height: 15px;
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  -khtml-border-radius: 999px;
  border-radius: 999px;
  margin: -1px auto 0px;
  padding: 0;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  /*
  box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5); 
  -moz-box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5);  
  -webkit-box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5);
  */
}

.screw-b {
  background: #d9d9d9;
  width: 135px;
  height: 15px;
  margin: -1px auto 0px;
  padding: 0;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  /*
  box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5); 
  -moz-box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5);  
  -webkit-box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5);
  */
}

.screw-c2 {
  background: #ddd;
  width: 135px;
  height: 20px;
  margin: -1px auto 0px;
  padding: 0;
  -moz-border-radius: 0 0 999px 999px;
  -webkit-border-radius: 0 0 999px 999px;
  -khtml-border-radius: 0 0 999px 999px;
  border-radius: 0 0 999px 999px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

.screw-c {
  margin: -1px auto 0px;
  padding: 0;
  width: 78px;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

.screw-d {
  margin: 0 auto;
  padding: 0;
  width: 15px;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #444;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

.night #light {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

body,
.bulb-top,
.bulb-bottom {
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.bulb-middle-1,
.bulb-middle-2,
.bulb-middle-3 {
  -webkit-transition: border 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

.night .bulb-top,
.night .bulb-bottom {
  background: #fe3;
}
.night .bulb-middle-1 {
  border-top: 55px solid #fe3;
}
.night .bulb-middle-2 {
  border-top: 50px solid #fe3;
}
.night .bulb-middle-3 {
  border-top: 30px solid #fe3;
}
