body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #ddd;
  color: black;
}

/* GALLERY */
.gallery-container {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
}

.gallery {
  display: grid;
  gap: 30px;
  margin: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* FOOTER */
.site-footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
  background-color: #333;
  color: white;
}

.site-footer h2 {
  margin-bottom: 10px;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-footer a {
  color: white;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.footer-newsletter form {
  display: flex;
  gap: 10px;
}

.footer-newsletter input {
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.footer-newsletter button {
  padding: 10px;
  background-color: #f0c14b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .site-footer {
    flex-direction: column;
    align-items: center;
  }

  .site-footer > div {
    padding: 10px 0;
    text-align: center;
  }

  .footer-newsletter form {
    flex-direction: column;
  }
}
